.App {
  text-align: center;
  
}

body {
  font-size: 62.5%;
  background-image: url('./retro.svg');
  background-size: 75vw;
  background-position-x: 130%;
  background-repeat: no-repeat
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.headerbar {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  height: 60vh;
}

.closeButton {
  position: relative;
  right: -6vw;
  top: -1vh;
}

.author {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.userinput {
  margin-right: 20px
}

.userform {
  display: flex;
  flex-direction: column;
}

.userform button {
  width: 40%;
  align-self: flex-end
}

.submitButton {
  width: 100%;
}

.loading {
  width: 10%;
  margin: 100px auto !important;
  font-size: 2.4em;
}

.card {
  width: 350px;
  margin: 10px;
  padding: 10px;
}

.card h3 {
  margin-top: -5px
}

.card p {
  font-style: italic;
  font-size: 1.0em;
  color: grey;
  position: relative;
  top: -15px;
  margin-bottom: 0px
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 90vw;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

