.App {
  text-align: center;
  
}

body {
  font-size: 62.5%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.back {
  background-image: url('./retro.svg');
  background-size: 75vw;
  background-position-x: 130%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.headerbar {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  height: 70vh;
}

.closeButton {
  position: relative;
  right: -6vw;
  top: -1vh;
}

.author {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.userinput {
  margin-right: 20px
}

.userform {
  display: flex;
  flex-direction: column;
}

.userform button {
  width: 40%;
  align-self: flex-end
}

.submitButton {
  width: 100%;
}

.loading {
  width: 15%;
  margin: 100px auto !important;
  font-size: 2.4em;
}

.card {
  width: 350px;
}

.card h3 {
  margin-top: -5px
}

.card p:nth-of-type(1) {
  font-style: italic;
  font-size: 1.0em;
  color: grey;
  position: relative;
  top: -40px;
  margin-bottom: 0px
}

.card p {
  font-size: 1.0em;
  position: relative;
  top: -40px;
  margin-bottom: 0px
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 80vw;
  margin-left: 10px;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}


.newMessage {
  position: relative;
  top: 20px;
  left: 20px;
}

.board {
  position: relative;
  top: 40px;
}

.message {
  margin-top: 10px !important;
  height: 500px !important;
}

.delbutton {
  position: relative !important;
  margin-left: 99% !important;
  margin-top: -7% !important;
  width: 5px;
  display: flex !important; 
  justify-content: center !important;
  color: #FF4040 !important;
}

.authselect {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .back {
    background-position-y: 100%;
  }
  .card {
    width: 100%;
    margin-left: -3vw !important;
  }
  .delbutton {
    margin-top: -5% !important;
  }
  .hEnyXU {
    width: 100vw !important;
  }
  .headerbar{
    width: 100%
  }
  .closeButton {
    right: -30vw;
  }
  .deluserbutton {
   width: 20vw !important;
   font-size: .8em !important;
   padding-right: 17vw !important;
   margin-left: 2vw !important;
  }
  .loading {
    width: 50%;
  }
}