.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.headerbar {
  display: flex;
  justify-content: space-between;
  padding-left: 30%;
  padding-right: 30%;
  width: 100vw;
}

.title {
  margin: 5px auto !important;
}

.closeButton {
  position: relative;
  right: -40%;
}

.author {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 5px auto;
}

.userinput {
  margin-right: 20px
}

.userform {
  display: flex;
}

